resource "datadog_monitor" "{{ .Id }}" {
  name               = "{{ .Name }}"
  type               = "{{ .Type }}"
  message            = "{{ .Message }}"
  escalation_message = "{{ .Options.EscalationMessage }}"

  query = "{{ .Query }}"

  {{- with .Options }}
  {{ if .NotifyNoData }}notify_no_data    = {{ .NotifyNoData }}{{- end }}
  {{ if .RenotifyInterval }}renotify_interval = {{ .RenotifyInterval }} {{- end }}
  {{ if .NotifyAudit }}notify_audit = {{ .NotifyAudit }}{{- end }}
  {{ if .TimeoutH }}timeout_h = {{ .TimeoutH }}{{- end }}
  {{ if .IncludeTags }}include_tags = {{ .IncludeTags  }}{{- end }}
  {{ if .RequireFullWindow }}require_full_window = {{ .RequireFullWindow }}{{- end }}
  {{ if .NewHostDelay }}new_host_delay = {{ .NewHostDelay }}{{- end }}
  {{ if .EvaluationDelay }}evaluation_delay = {{ .EvaluationDelay }}{{- end }}

  {{- if .Thresholds }}
  {{- with .Thresholds }}
  thresholds {
    {{ if .Ok }}ok = {{ .Ok }}{{- end }}
    {{ if .Warning }}warning = {{ .Warning }}{{- end }}
    {{ if .WarningRecovery }}warning_recovery = {{ .WarningRecovery }}{{- end }}
    {{ if .Critical }}critical = {{ .Critical }}{{- end }}
    {{ if .CriticalRecovery }}critical_recovery = {{ .CriticalRecovery }}{{- end }}
  }
  {{- end }}
  {{- end }}
  {{- end }}

}
