resource "datadog_monitor" "_{{ .Id }}" {
  name = "{{ .Name }}"
  type = "{{ .Type }}"
  query = {{ .Query | escapeCharacters }}
  {{- with .Options }}
  {{- if .NotifyNoData }}
  notify_no_data    = {{ .NotifyNoData }}
  {{- end }}
  {{- if .Locked }}
  locked = {{ .Locked }}
  {{- end }}
  {{- if .RenotifyInterval }}
  renotify_interval = {{ .RenotifyInterval }}
  {{- end }}
  {{- if .NotifyAudit }}
  notify_audit = {{ .NotifyAudit }}
  {{- end }}
  {{- if .NoDataTimeframe }}
  no_data_timeframe = {{ .NoDataTimeframe }}
  {{- end }}
  {{- if .TimeoutH }}
  timeout_h = {{ .TimeoutH }}
  {{- end }}
  {{- if .IncludeTags }}
  include_tags = {{ .IncludeTags  }}
  {{- end }}
  {{- if .RequireFullWindow }}
  require_full_window = {{ .RequireFullWindow }}
  {{- end }}
  {{- if .NewHostDelay }}
  new_host_delay = {{ .NewHostDelay }}
  {{- end }}
  {{- if .EvaluationDelay }}
  evaluation_delay = {{ .EvaluationDelay }}
  {{- end }}
  {{- if .Thresholds }} {{- with .Thresholds }}
  thresholds = {
    {{- if .Ok }}
    ok = {{ .Ok }}
    {{- end }}
    {{- if .Warning }}
    warning = {{ .Warning }}
    {{- end }}
    {{- if .WarningRecovery }}
    warning_recovery = {{ .WarningRecovery }}
    {{- end }}
    {{- if .Critical }}
    critical = {{ .Critical }}
    {{- end }}
    {{- if .CriticalRecovery }}
    critical_recovery = {{ .CriticalRecovery }}
    {{- end }}
  }
  {{- end }}
  {{- end }}
  {{- end }}
  {{- if .Tags }}
  tags = [{{range .Tags}}"{{.}}",{{end}}]
  {{- end }}
  message = <<EOT
{{ .Message }}
EOT
  escalation_message = <<EOT
{{ .Options.EscalationMessage }}
EOT
}

