resource "datadog_screenboard" "dd_{{ .Id }}" {
  title = "{{ .Title }}"
  {{- if .ReadOnly }}
  read_only = {{ .ReadOnly }}
  {{- end }}
  {{- if .Shared }}
  shared = {{ .Shared }}
  {{- end }}
  {{- if .TemplateVariables }}
  {{- with .TemplateVariables }}
  {{- range . }}
  template_variable = {
    name    = "{{ .Name }}"
    prefix  = "{{ .Prefix }}"
    default = "{{ .Default }}"
  }
  {{- end }}
  {{- end }}
  {{- end }}

  {{- with .Widgets }}
  {{- range . }}
  widget = {
    type = "{{ .Type }}"
    x = "{{ .X }}"
    y = "{{ .Y }}"
    {{- if .Title }}
    title = "{{ .TitleText }}"
    {{- end }}
    {{- if .TitleAlign }}
    title_align = "{{ .TitleAlign }}"
    {{- end }}
    {{- if .TitleSize }}
    title_size = "{{ .TitleSize }}"
    {{- end }}
    {{- if .Height }}
    height = "{{ .Height }}"
    {{- end }}
    {{- if .Width }}
    width = "{{ .Width }}"
    {{- end }}
    {{- if .Text }}
    text = "{{ .Text }}"
    {{- end }}
    {{- if .Color }}
    color = "{{ .Color }}"
    {{- end }}
    {{- if .Time }}
    {{- with .Time }}
    time = {
      live_span = "{{ .LiveSpan }}"
    }
    {{- end }}
    {{- end }}
    {{- if .TileDef }}
    {{- with .TileDef }}
    tile_def = {
      {{- if .Viz }}
      viz = "{{ .Viz }}"
      {{- end }}
      {{- if .CustomUnit }}
      custom_unit = "{{ .CustomUnit }}"
      {{- end }}
      {{- if .Autoscale }}
      autoscale = "{{ .Autoscale }}"
      {{- end }}
      {{- if .TextAlign }}
      text_align = "{{ .TextAlign }}"
      {{- end }}
      {{- if .Requests }}
      {{- with .Requests }}
      {{- range . }}
      request = {
        {{- if .Query }}
        q = "{{ .Query }}"
        {{- end }}
        {{- if .Type }}
        type = "{{ .Type }}"
        {{- end }}
        {{- if .QueryType }}
        query_type = "{{ .QueryType }}"
        {{- end }}
        {{- if .Metric }}
        metric = "{{ .Metric }}"
        {{- end }}
        {{- if .TextFilter }}
        text_filter = "{{ .TextFilter }}"
        {{- end }}
        {{- if .Limit }}
        limit = "{{ .Limit }}"
        {{- end }}
        {{- if .Aggregator }}
        aggregator = "{{ .Aggregator }}"
        {{- end }}
        {{- if .CompareTo }}
        compare_to = "{{ .CompareTo }}"
        {{- end }}
        {{- if .ChangeType }}
        change_type = "{{ .ChangeType }}"
        {{- end }}
        {{- if .OrderBy }}
        order_by = "{{ .OrderBy }}"
        {{- end }}
        {{- if .OrderDir }}
        order_dir = "{{ .OrderDir }}"
        {{- end }}
        {{- if .ExtraCol }}
        extra_col = "{{ .ExtraCol }}"
        {{- end }}
        {{- if .IncreaseGood }}
        increase_good = "{{ .IncreaseGood }}"
        {{- end }}
        {{- if .ConditionalFormats }}
        {{- with .ConditionalFormats -}}
        {{- range . }}
        conditional_format = {
          {{- if .Color }}
          color = "{{ .Color }}"
          {{- end }}
          {{- if .Palette }}
          palette = "{{ .Palette }}"
          {{- end }}
          {{- if .Comparator }}
          comparator = "{{ .Comparator }}"
          {{- end }}
          {{- if .Invert }}
          invert = "{{ .Invert }}"
          {{- end }}
          {{- if .Value }}
          value = "{{ .Value }}"
          {{- end }}
          {{- if .ImageURL }}
          image_url = "{{ .ImageURL }}"
          {{- end }}
        }
        {{- end }}
        {{- end }}
        {{- end }}
        {{- if .Style }}
        {{- with .Style }}
        style = {
          {{- if .Palette }}
          palette = "{{ .Palette }}"
          {{- end }}
          {{- if .Type }}
          type = "{{ .Type }}"
          {{- end }}
          {{- if .Width }}
          width = "{{ .Width }}"
          {{- end }}
        } //style
        {{- end }}
        {{- end }}
        {{- if .TagFilters }}
        tag_filters = [{{range .TagFilters}}"{{.}}",{{end}}]
        {{- end }}
      } //request
      {{- end }}
      {{- end }}
      {{- end }}
      {{- if .Events -}}
      {{- with .Events -}}
      {{- range . }}
      event = {
        q = "{{ .Query }}"
      } //event
      {{- end -}}
      {{- end -}}
      {{- end -}}

      {{- if .Markers }}
      {{- with .Markers }}
      {{- range . }}
      marker = {
        {{- if .Type }}
        type = "{{ .Type }}"
        {{- end }}
        {{- if .Label }}
        label = "{{ .Label }}"
        {{- end }}
        {{- if .Value }}
        value = "{{ .Value }}"
        {{- end }}
      } //event
      {{- end }}
      {{- end }}
      {{- end }}
    } //tile_def
    {{- end }}
    {{- end }}
    {{- if .TextSize }}
    text_size = "{{ .TextSize }}"
    {{- end }}
    {{- if .Unit }}
    unit = "{{ .Unit }}"
    {{- end }}
    {{- if .Precision }}
    precision = "{{ .Precision }}"
    {{- end }}
    {{- if .TextAlign }}
    text_align = "{{ .TextAlign }}"
    {{- end }}
    {{- if .FontSize }}
    font_size = "{{ .FontSize }}"
    {{- end }}
    {{- if .AlertID }}
    alert_id = "{{ .AlertID }}"
    {{- end }}
    {{- if .AutoRefresh }}
    auto_refresh = "{{ .AutoRefresh }}"
    {{- end }}
    {{- if .Legend }}
    legend = "{{ .Legend }}"
    {{- end }}
    {{- if .LegendSize }}
    legend_size = "{{ .LegendSize }}"
    {{- end }}
    {{- if .Query }}
    query = "{{ .Query }}"
    {{- end }}
    {{- if .URL }}
    url = "{{ .URL }}"
    {{- end }}
    {{- if .Check }}
    check = "{{ .Check }}"
    {{- end }}
    {{- if .Grouping }}
    grouping = "{{ .Grouping }}"
    {{- end }}
    {{- if .Group }}
    group = "{{ .Group }}"
    {{- end }}
    {{- if .TickPos }}
    tick_pos = "{{ .TickPos }}"
    {{- end }}
    {{- if .TickEdge }}
    tick_edge = "{{ .TickEdge }}"
    {{- end }}
    {{- if .HTML }}
    html = "{{ .HTML }}"
    {{- end }}
    {{- if .Tick }}
    tick = "{{ .Tick }}"
    {{- end }}
    {{- if .Bgcolor }}
    bgcolor = "{{ .Bgcolor }}"
    {{- end }}
    {{- if .EventSize }}
    event_size = "{{ .EventSize }}"
    {{- end }}
    {{- if .Sizing }}
    sizing = "{{ .Sizing }}"
    {{- end }}
    {{- if .Margin }}
    margin = "{{ .Margin }}"
    {{- end }}
    {{- if .Env }}
    env = "{{ .Env }}"
    {{- end }}
    {{- if .ServiceService }}
    service_service = "{{ .ServiceService }}"
    {{- end }}
    {{- if .ServiceName }}
    service_name = "{{ .ServiceName }}"
    {{- end }}
    {{- if .SizeVersion }}
    size_version = "{{ .SizeVersion }}"
    {{- end }}
    {{- if .LayoutVersion }}
    layout_version = "{{ .LayoutVersion }}"
    {{- end }}
    {{- if .MustShowHits }}
    must_show_hits = "{{ .MustShowHits }}"
    {{- end }}
    {{- if .MustShowErrors }}
    must_show_errors = "{{ .MustShowErrors }}"
    {{- end }}
    {{- if .MustShowLatency }}
    must_show_latency = "{{ .MustShowLatency }}"
    {{- end }}
    {{- if .MustShowBreakdown }}
    must_show_breakdown = "{{ .MustShowBreakdown }}"
    {{- end }}
    {{- if .MustShowDistribution }}
    must_show_distribution = "{{ .MustShowDistribution }}"
    {{- end }}
    {{- if .MustShowResourceList }}
    must_show_resource_list = "{{ .MustShowResourceList }}"
    {{- end }}
    {{- if .DisplayFormat }}
    display_format = "{{ .DisplayFormat }}"
    {{- end }}
    {{- if .ColorPreference }}
    color_preference = "{{ .ColorPreference }}"
    {{- end }}
    {{- if .HideZeroCounts }}
    hide_zero_counts = "{{ .HideZeroCounts }}"
    {{- end }}
    {{- if .ManageStatusShowTitle }}
    manage_status_show_title = "{{ .ManageStatusShowTitle }}"
    {{- end }}
    {{- if .ManageStatusTitleText }}
    manage_status_title_text = "{{ .ManageStatusTitleText }}"
    {{- end }}
    {{- if .ManageStatusTitleSize }}
    manage_status_title_size = "{{ .ManageStatusTitleSize }}"
    {{- end }}
    {{- if .ManageStatusTitleAlign }}
    manage_status_title_align = "{{ .ManageStatusTitleAlign }}"
    {{- end }}
    {{- if .Params }}
    {{- with .Params }}
    params = {
      {{- if .Sort }}
      sort = "{{ .Sort }}"
      {{- end }}
      {{- if .Text }}
      text = "{{ .Text }}"
      {{- end }}
      {{- if .Count }}
      count = "{{ .Count }}"
      {{- end }}
      {{- if .Start }}
      start = "{{ .Start }}"
      {{- end }}
    }
    {{- end }}
    {{- end }}
    {{- if .Columns }}
    columns = {{ .Columns | escapeCharacters }}
    {{- end }}
    {{- if .Logset }}
    logset = "{{ .Logset }}"
    {{- end }}
  } //widget
  {{- end }}
  {{- end }}
}
