resource "datadog_timeboard" "{{ .Id }}" {
  title       = "{{ .Title }}"
  description = "{{ .Description }}"
  read_only   = {{ .ReadOnly }}
  {{with .Graphs -}}
  {{range . }}
  graph {
    title = "{{ .Title }}"
    {{with .Definition -}}
    viz   = "{{ .Viz -}}"
    {{if .Autoscale -}}autoscale = "{{ .Autoscale }}"{{- end}}
    {{if .Precision -}}precision = "{{ .Precision }}"{{- end}}
    {{if .Groups -}}group = [{{$groups := .Groups}}{{range $index, $elem := .Groups}}{{if $index}},{{end}}"{{$elem}}"{{end}}]{{- end}}
    {{if .Scopes -}}scope = [{{$scopes := .Scopes}}{{range $index, $elem := .Scopes}}{{if $index}},{{end}}"{{$elem}}"{{end}}]{{- end}}
    {{if .Style -}}
    style {
      palette      = "{{ .Style.Palette }}"
      palette_flip = "{{ .Style.PaletteFlip }}"
    }{{- end}}
    {{- if .Markers -}}{{- with .Markers -}}{{range .}}
    marker {
      type  = "{{ .Type }}"
      value = "{{ .Value }}"
      {{ if .Label -}}label = "{{ .Label }}"{{- end}}
    }{{- end}}{{- end}}{{- end}}
    {{- with .Requests -}}{{range .}}
    request {
      q    = "{{ .Query -}}"
      {{ if .Type -}}type = "{{ .Type }}"{{- end }}
      {{ if .Aggregator -}}{{ if ne "" (DeRefString .Aggregator) -}}aggregator = "{{ .Aggregator }}"{{- end}}{{- end}}
      {{ if .Style -}}{{- with .Style -}}
      style {
        {{if .Palette -}}palette = "{{ .Palette }}"{{- end}}
        {{if .Width -}}width = "{{ .Width }}"{{- end}}
        {{if .Type -}}type = "{{ .Type }}"{{- end}}
      }
      {{- end}}{{- end}}
    }
    {{- end}}
    {{- end}}
    {{- end}}
  }{{end}}{{- end}}
  {{- with .TemplateVariables -}}{{- range . }}

  template_variable {
    name    = "{{ .Name }}"
    prefix  = "{{ .Prefix }}"
    default = "{{ .Default }}" 
  }{{end}}{{- end}}
}
